{% extends 'base.html' %}

{% block content %}

<div class="col-md-14" >
<table class="table table-dark table table-bordered table table-sm table table-hover">
    <tr class="table-active">
        <th> title </th>
        <th> content </th>
        <th> start_time </th>
        <th> finish_time </th>
        <th> is_complete   </th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tr>
    {% for task in tasks %}
    <td>{{ task.title }}</a></td>
    <td>{{task.content}}</td>
    <td>{{task.start_time}}</td>
    <td>{{task.finish_time}}</td>
    <td>{{task.is_complete}}</td>
    <td>
        {% if user.is_staff is False %}
        <form action="{% url 'delete_task' task.id %}">
            {%csrf_token %}
            <button>Delete</button></td>
        </form>
        {% endif %}
    </td>
    <td>
        <form action="{% url 'update_task' pk=task.id %}">

            <button>Update</button></td>
        </form>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}